01. List manipulation

In [19]:
# imports
import random

In [20]:
# a) Create a list with 5 fruit names
fruit_names = ['blackberry', 'cherry', 'strawberry', 'raspberry', 'blueberry']

In [21]:
# b) Extend the fruit_names list with 2 vegatables
vegetable_names = ['tomato', 'carrot']

for veg in vegetable_names:
    fruit_names.append(veg)
print(fruit_names)

['blackberry', 'cherry', 'strawberry', 'raspberry', 'blueberry', 'tomato', 'carrot']

In [22]:
# c) Shuffle the list
random.shuffle(fruit_names)
print(fruit_names)

['blueberry', 'cherry', 'carrot', 'strawberry', 'blackberry', 'tomato', 'raspberry']

In [37]:
# d) Find the position of first vegetable 

x = fruit_names.index(vegetable_names[0])
print(f'{vegetable_names[0]} is {(x+1)} th on the list')

#for fruit in fruit_names:
 #   if fruit in vegetable_names:
  #      print('first veggie is on' + fruit.

tomato is 6 th on the list

In [26]:
# e) Remove one fruit
fruit_names.remove('cherry')
# f) Print the result
print(fruit_names)

['blueberry', 'carrot', 'strawberry', 'blackberry', 'tomato', 'raspberry']

In [27]:
# g) Sort the list in alphabetical order
fruit_names = sorted(fruit_names)
              
# h) Print each element of a list using a loop
for i in fruit_names:
              print(i)
# i) Modify above code to be ablet to repeat all above steps 
#    to get the same results each time

blackberry
blueberry
carrot
raspberry
strawberry
tomato

02. Tuples

In [33]:
first_list = ["a" + str(number) for number in range(1, 10)]
second_list = ["b" + str(number) for number in range(1, 10)]

# Pair up above lists
paired_list = [[x, y] for x, y in zip(first_list, second_list)]
paired_list

[['a1', 'b1'],
 ['a2', 'b2'],
 ['a3', 'b3'],
 ['a4', 'b4'],
 ['a5', 'b5'],
 ['a6', 'b6'],
 ['a7', 'b7'],
 ['a8', 'b8'],
 ['a9', 'b9']]

In [39]:
# Using a loop unpack the tuple into variables: first_el, secodn_el
# Print the pair position and variables using f-string.
# Example:
# "Index of a3 and b3 is equal 2"

for index, tuple in enumerate(paired_list):
    first_el = tuple[0]
    secodn_el = tuple [1]
    print(f'Index of {first_el} and {secodn_el} is {index}')

Index of a1 and b1 is 0
Index of a2 and b2 is 1
Index of a3 and b3 is 2
Index of a4 and b4 is 3
Index of a5 and b5 is 4
Index of a6 and b6 is 5
Index of a7 and b7 is 6
Index of a8 and b8 is 7
Index of a9 and b9 is 8

3. Sets (unordered & unique data)

In [41]:
fake_names_1 = ['Sherry', 'Mary', 'Matthew', 'Danielle', 'Jeffrey', 'Lauren', 
              'Keith', 'Carlos', 'Monique', 'Laura', 'Jared', 'Valerie', 'Juan', 
              'Christopher', 'Erica', 'Dawn', 'Joshua', 'Brandon', 'Stephanie']

fake_names_2 = ['Andre', 'Anthony', 'Lauren', 'Douglas', 'Jonathan', 'Richard', 
                'Alyssa', 'Vincent', 'Travis', 'Clifford', 'Jerry', 'Justin',
                'Matthew', 'Jared', 'Erica']

In [42]:
# Find the overlapping names in above lists
overlapping_names = list(set(fake_names_1) & set(fake_names_2))
print(overlapping_names)

['Erica', 'Matthew', 'Jared', 'Lauren']

In [45]:
# Print number of "duplicated" names
len(overlapping_names)

4

In [49]:
# Find and print the union of above lists
fake_names_1 = set(fake_names_1)
fake_names_2 = set(fake_names_2)
united_names = fake_names_1.union(fake_names_2)
united_names

{'Alyssa',
 'Andre',
 'Anthony',
 'Brandon',
 'Carlos',
 'Christopher',
 'Clifford',
 'Danielle',
 'Dawn',
 'Douglas',
 'Erica',
 'Jared',
 'Jeffrey',
 'Jerry',
 'Jonathan',
 'Joshua',
 'Juan',
 'Justin',
 'Keith',
 'Laura',
 'Lauren',
 'Mary',
 'Matthew',
 'Monique',
 'Richard',
 'Sherry',
 'Stephanie',
 'Travis',
 'Valerie',
 'Vincent'}

In [50]:
# Find and print the difference between lists
different_names = fake_names_1.symmetric_difference(fake_names_2)
different_names

{'Alyssa',
 'Andre',
 'Anthony',
 'Brandon',
 'Carlos',
 'Christopher',
 'Clifford',
 'Danielle',
 'Dawn',
 'Douglas',
 'Jeffrey',
 'Jerry',
 'Jonathan',
 'Joshua',
 'Juan',
 'Justin',
 'Keith',
 'Laura',
 'Mary',
 'Monique',
 'Richard',
 'Sherry',
 'Stephanie',
 'Travis',
 'Valerie',
 'Vincent'}